*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color:#183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#004479;
    --padding-inline-section:20px;
}

@import url(fonts/);

html, body{
    /* width: 100%;
    height: 100%; */
    /* poppins */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(var(--primary-text-color));
}

h1{
    font-size: 9rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    /* rboto */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;



}

a{
    text-decoration: none;
    display: inline-block;
}
ul {
    list-style: none;
}

/* utility classes  */
.small-bold-text{
    font-size: 1rem;
    font-weight: 700;
}
.container {
    max-width: 1180px;
    margin-inline: auto;
    padding: var(--padding-inline-section);
}
.flex {
    display: flex;
    align-items: center;
}

.primary-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}
.primary-button:hover{
    background-color: var(--accent-color-dark);    
}

.secondary-button {
    border: 0.5px solid var(--secondary-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}
.secondary-button:hover{
    border-color: var(--accent-color);
}


/* top banner */
.top-banner{
    background-image: url(./assets/asset\ 18.png);
    height: 55px;
    background-size: 300px;
    background-color: #4fb3d4;
}
.banner-text {
    color:white;
    padding: 15px 30px;
    text-align: center;
}


/* nav  bar */
.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}
.company-logo img{
    width: 200px;
}
.nav-links {
    /* nav linke ki width 730 rahegi */
    flex-basis: 730px;
}
.nav-links ul{
    justify-content: end;
    gap: 40px;
}
.hover-link{
    color: var(--primary-text-color);
    transition: 0.2s ease-out;
}
.hover-link:hover {
    color: var(--accent-color);
}


/* header */
header{
    padding: 50px var(--padding-inline-section) 0;
}
.header-section {
    justify-content: center;
    gap: 50px;
}
.header-left{
    max-width: 40vw;   
}
.header-left h1{
    margin-top: 20px;
}
.header-right img {
    width: 600px;
}
.get-started-button {
    margin-top: 20px;
}


/* companies section */
.companies-header {
    text-align: center;
    margin-block: 30px;
    color: var(--primary-text-color);   
}
.logos{
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{ 
    height: 50px;
}


/* features section */
.features-section{
    padding: 80px var(--padding-inline-section) 0;
    background-image: url(assets/asset\ 19.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.features-header{
    flex-direction: column;
    gap: 15px;
}
.features-area{
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
    margin: 20px;
}
.features-card {
    flex-direction: column;
    gap: 20px;
    max-width: 30%;
    text-align: center;
}
.features-card img{
    width: 5rem;
}

/* big feature section */
.big-feature-section{
    padding: 30px var(--padding-inline-section) 0;
}
.big-feature-section{
    gap: 30px;
}
.feature-img img{
    width: 100%;
}
.feature-desc{
    flex-direction: column;
    align-items: flex-start;
}


/* example section */
.examples-header{
    flex-direction: column;
    gap: 20px;
}
.examples-area{
    justify-content: space-between;
    margin-block: 25px;
}
.examples-card {
    width: 23%;
    min-height: 300px;
    position: relative;
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 20.jpeg);
    background-size: cover;
    transition: 0.2s ease-out;
}
.card-text {
    position: absolute;
    bottom: 20px;
    left: 20px;
    top: 20px;
    color: white;
}
.examples-card:nth-child(2) {
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 21.jpeg);
    background-size: cover;
}
.examples-card:nth-child(3) {
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 22.jpeg);
    background-size: cover;
}
.examples-card:nth-child(4) {
    background: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.8)), url(assets/asset\ 23.jpeg);
    background-size: cover;
}
.examples-card:hover{
    box-shadow: 0 0 10px #888;
}

/* cta-section */
.cta-section  {
    background-color: #183b54;
    padding: 7rem 4rem; 
}
.cta-section-container{
    flex-direction: column;
    gap: 30px;
    color: white;
}
.cta-section-container p {
    color: white;
    margin-top: 20px;
}


/* footer */
footer{
    padding-block: 80px;
    background-color: #ebf2fa;
}
.link-column {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.footer-container{
    align-items: flex-start;
    justify-content: space-between;
}


/* subfooter */
.subfooter{
    background-color: #b9cde4;
    padding: 0.5rem 2rem;
}
.subfooter-container{
    justify-content: center;
    gap: 30px;
}